In [ ]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/5a/41/24e14322b9986cf72a8763e0a0a69cc256cf963cf9502c8f0044a62c1ae8/catboost-0.26-cp37-none-manylinux1_x86_64.whl (69.2MB)
     |████████████████████████████████| 69.2MB 39kB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Installing collected packages: catboost
Successfully installed catboost-0.26

In [ ]:
# 라이브러리
import pandas as pd
import numpy as np
import tqdm as tq
import pickle
import matplotlib.pyplot as plt
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
from tqdm import tqdm

# 데이터 탐색

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/contest/parking_data/train.csv')
test = pd.read_csv('/content/drive/MyDrive/contest/parking_data/test.csv')
age_gender = pd.read_csv('/content/drive/MyDrive/contest/parking_data/age_gender_info.csv')

### 훈련 데이터

In [ ]:
train.head()

    단지코드  총세대수 임대건물구분  ... 도보 10분거리 내 버스정류장 수 단지내주차면수   등록차량수
0  C2483   900    아파트  ...                3.0  1425.0  1015.0
1  C2483   900    아파트  ...                3.0  1425.0  1015.0
2  C2483   900    아파트  ...                3.0  1425.0  1015.0
3  C2483   900    아파트  ...                3.0  1425.0  1015.0
4  C2483   900    아파트  ...                3.0  1425.0  1015.0

[5 rows x 15 columns]

In [ ]:
train.corr(method='pearson')

                                  총세대수      전용면적  ...   단지내주차면수     등록차량수
총세대수                          1.000000  0.042271  ...  0.501488  0.316703
전용면적                          0.042271  1.000000  ...  0.071260  0.115453
전용면적별세대수                      0.098205 -0.035479  ...  0.281989  0.247085
공가수                           0.068192 -0.089201  ...  0.289819  0.118121
도보 10분거리 내 지하철역 수(환승노선 수 반영)  0.213843 -0.013111  ... -0.055544 -0.108592
도보 10분거리 내 버스정류장 수           -0.001446 -0.007866  ...  0.070696  0.103752
단지내주차면수                       0.501488  0.071260  ...  1.000000  0.859216
등록차량수                         0.316703  0.115453  ...  0.859216  1.000000

[8 rows x 8 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

< Train data null 값 >

임대보증금, 임대료, 도보 10분거리 내 지하철역 수(환승노선 수 반영), 도보 10분거리 내 버스정류장 수

In [ ]:
train.isnull().sum().to_frame()

                                0
단지코드                            0
총세대수                            0
임대건물구분                          0
지역                              0
공급유형                            0
전용면적                            0
전용면적별세대수                        0
공가수                             0
자격유형                            0
임대보증금                         569
임대료                           569
도보 10분거리 내 지하철역 수(환승노선 수 반영)  211
도보 10분거리 내 버스정류장 수              4
단지내주차면수                         0
등록차량수                           0

### 테스트 데이터

In [ ]:
test.head()

    단지코드  총세대수  ... 도보 10분거리 내 버스정류장 수 단지내주차면수
0  C1072   754  ...                2.0   683.0
1  C1072   754  ...                2.0   683.0
2  C1072   754  ...                2.0   683.0
3  C1072   754  ...                2.0   683.0
4  C1072   754  ...                2.0   683.0

[5 rows x 14 columns]

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         842 non-null    object
 10  임대료                           842 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 111.9+ KB

In [ ]:
test.isnull().sum().to_frame()

                                0
단지코드                            0
총세대수                            0
임대건물구분                          0
지역                              0
공급유형                            0
전용면적                            0
전용면적별세대수                        0
공가수                             0
자격유형                            2
임대보증금                         180
임대료                           180
도보 10분거리 내 지하철역 수(환승노선 수 반영)   42
도보 10분거리 내 버스정류장 수              0
단지내주차면수                         0

< Test data null 값 >

자격유형, 임대보증금, 임대료, 도보 10분거리 내 지하철역 수(환승노선 수 반영)

Train, Test null 값을 보면

임대보증금, 임대료는 같이 null값으로 존재할 것으로 생각할 수 있음

# 데이터 전처리

[ https://dacon.io/competitions/official/235745/codeshare/2853?page=1&dtype=recent ] 참고


임대가 아닌 공공분양, 전세 같은 경우는 임대 관련 값은 NA

임대보증금, 임대료를 0으로 대체

In [ ]:
# 임대관련 값 '-'을 null로 바꾼 후 float로 타입 변경
train.loc[train.임대보증금=='-', '임대보증금'] = np.nan
test.loc[test.임대보증금=='-', '임대보증금'] = np.nan
train['임대보증금'] = train['임대보증금'].astype(float)
test['임대보증금'] = test['임대보증금'].astype(float)

train.loc[train.임대료=='-', '임대료'] = np.nan
test.loc[test.임대료=='-', '임대료'] = np.nan
train['임대료'] = train['임대료'].astype(float)
test['임대료'] = test['임대료'].astype(float)

# 임대관련 값 0으로 대체 
train[['임대보증금', '임대료']] = train[['임대보증금', '임대료']].fillna(0)
test[['임대보증금', '임대료']] = test[['임대보증금', '임대료']].fillna(0)

임대보증금, 임대료 dtype을 int로 변경

지하철 및 버스정류장 수 관련 Null 값도 없는 것으로 추정하고 0으로 대체

In [ ]:
# 지하철 및 버스정류장 수 0으로 대체
col = ['도보 10분거리 내 지하철역 수(환승노선 수 반영)', '도보 10분거리 내 버스정류장 수']
train[col] = train[col].fillna(0)
test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'] = test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0)

test data의 자격유형은 최빈값으로 대체 

==> 'A'

In [ ]:
test['자격유형'].value_counts() # A가 가장 많음을 확인

A    572
D    180
H     92
J     84
C     34
K     16
L     12
N     10
E     10
I      7
M      2
G      1
Name: 자격유형, dtype: int64

In [ ]:
# A로 대체
test['자격유형'] = test['자격유형'].fillna('A')

중복이 상당히 많은 것으로 확인되므로 중복을 제거

In [ ]:
train = train.drop_duplicates()
test = test.drop_duplicates()

[ https://dacon.io/competitions/official/235745/codeshare/2851?page=1&dtype=recent ]

train, test의 각 단지코드를 하나의 로우로 합하기

In [ ]:
def reshape_cat_features(data, cast_col, value_col):
    res = data.drop_duplicates(['단지코드', cast_col]).assign(counter=1).pivot(index='단지코드', columns=cast_col, values=value_col).fillna(0)
    res.columns.name = None
    res = res.rename(columns={col:cast_col+'_'+col for col in res.columns})
    return res

In [ ]:
unique_cols = ['총세대수', '지역', '공가수', 
               '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
               '도보 10분거리 내 버스정류장 수',
               '단지내주차면수', '등록차량수']
train_agg = train.set_index('단지코드')[unique_cols].drop_duplicates()
test_agg = test.set_index('단지코드')[[col for col in unique_cols if col!='등록차량수']].drop_duplicates()

In [ ]:
train.loc[train.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'
test.loc[test.공급유형.isin(['공공임대(5년)', '공공분양', '공공임대(10년)', '공공임대(분납)']), '공급유형'] = '공공임대(5년/10년/분납/분양)'
train.loc[train.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'
test.loc[test.공급유형.isin(['장기전세', '국민임대']), '공급유형'] = '국민임대/장기전세'

In [ ]:
train.loc[train.자격유형.isin(['J', 'L', 'K', 'N', 'M', 'O']), '자격유형'] = '행복주택_공급대상'
test.loc[test.자격유형.isin(['J', 'L', 'K', 'N', 'M', 'O']), '자격유형'] = '행복주택_공급대상'

In [ ]:
train.loc[train.자격유형.isin(['H', 'B', 'E', 'G']), '자격유형'] = '국민임대/장기전세_공급대상'
test.loc[test.자격유형.isin(['H', 'B', 'E', 'G']), '자격유형'] = '국민임대/장기전세_공급대상'

train.loc[train.자격유형.isin(['C', 'I', 'F']), '자격유형'] = '영구임대_공급대상'
test.loc[test.자격유형.isin(['C', 'I', 'F']), '자격유형'] = '영구임대_공급대상'

In [ ]:
train_agg = pd.concat([train_agg,
                       reshape_cat_features(data=train, cast_col='임대건물구분', value_col='counter'),
                       reshape_cat_features(data=train, cast_col='공급유형', value_col='counter'),
                       reshape_cat_features(data=train, cast_col='자격유형', value_col='counter')], axis=1)

test_agg = pd.concat([test_agg,
                       reshape_cat_features(data=test, cast_col='임대건물구분', value_col='counter'),
                       reshape_cat_features(data=test, cast_col='공급유형', value_col='counter'),
                       reshape_cat_features(data=test, cast_col='자격유형', value_col='counter')], axis=1)

# 모델링

In [ ]:
cat_features = ['지역']
target_col = '등록차량수'
x = train_agg.drop(columns=[target_col])
y = train_agg[target_col]

In [ ]:
'''from sklearn.model_selection import GridSearchCV

catb = CatBoostRegressor(
         cat_features=cat_features,
         loss_function='MAE',
         random_state=42
    )

grid = {'n_estimators' : [100], 'eta' : [0.01, 0.03, 0.05],
        'depth': [4, 6, 10], 'l2_leaf_reg': [1, 3, 5, 7, 9]}
        
gcv = GridSearchCV(catb, param_grid = grid, cv = 3, refit=True, return_train_score=True)        
gcv.fit(x,y)
params = gcv.best_params_

print(gcv.best_estimator_)
#pickle.dump(gcv.best_estimator_, open("/content/drive/MyDrive/contest/parking_data/hyperparameter_catb.pickle", "wb"))
'''

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9, eta=0.01, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=6, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.8, verbosity=1)

catboost, 'depth': 4, 'eta': 0.05, 'l2_leaf_reg': 3, 'n_estimators': 500

In [ ]:
catb = CatBoostRegressor(
         cat_features=cat_features,
         loss_function='MAE',
         depth = 4, learning_rate = 0.05,
         l2_leaf_reg =  3, n_estimators = 500,
         random_state=42
    )

xgb = XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1, 
                   colsample_bynode=1, colsample_bytree=0.9, eta=0.01, gamma=0, 
                   importance_type='gain', learning_rate=0.1, max_delta_step=0, 
                   max_depth=3, min_child_weight=6, missing=None, n_estimators=300, 
                   n_jobs=1, nthread=None, objective='reg:linear', random_state=0, 
                   reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None, silent=None, 
                   subsample=0.8, verbosity=1)

In [ ]:
catb.fit(x, y, verbose=100)

0:	learn: 280.5738759	total: 47ms	remaining: 23.5s
100:	learn: 114.9617123	total: 124ms	remaining: 488ms
200:	learn: 98.9093859	total: 203ms	remaining: 302ms
300:	learn: 86.8717379	total: 283ms	remaining: 187ms
400:	learn: 80.7560014	total: 357ms	remaining: 88ms
499:	learn: 76.1668016	total: 436ms	remaining: 0us

In [ ]:
xgb_x_train = train_agg.drop([target_col, '지역'],axis =1)
xgb_t_train = test_agg.drop(['지역'],axis=1)

xgb.fit(xgb_x_train,y)

[05:48:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9, eta=0.01, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=6, missing=None, n_estimators=300,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.8, verbosity=1)

제출 파일 만들기

In [ ]:
sample_submission = pd.read_csv('/content/drive/MyDrive/contest/parking_data/sample_submission.csv')

In [ ]:
predictions1 = catb.predict(test_agg)
predictions2 = xgb.predict(xgb_t_train)

In [ ]:
predictions = (predictions1 + predictions2) / 2
predictions

array([ 641.47461364, 1287.43615828,  569.0239828 ,  556.96060974,
       1035.53765716, 1860.12114562,  945.68167614,  423.8620673 ,
        352.11344383,  305.808364  ,  472.16747218,  229.58488984,
        361.03110274,  296.40333451,  401.72307259,  199.97980544,
        447.11667807,  278.57064989,  115.09329085,  719.79930553,
        194.51489326,  385.82775422,  461.01715726,  516.71176665,
        366.86272523,  147.79061541,   49.83104964,  494.39910262,
        367.21439604,  453.60971941,  810.6079746 ,  115.50925711,
        452.90621744,  210.12741572,   74.62601342,  297.47427924,
        462.74123204,  596.19028034,  788.23672694,  330.35941032,
        447.00028977,  409.6450722 ,  396.01550928,  516.19978799,
        694.22386651, 1261.04027791,  464.92236811,  599.95155602,
        380.16016501,  367.50764526,  741.05873649,  299.42629972,
       1028.11272719,  667.43600861,  576.13016643,  261.34224769,
        541.77235225,  316.38181096,  446.19100732,  163.86411847,
        390.35541766,  562.85238136, 1000.30173204,  400.76117464,
        154.49845101,  267.49386885,  628.80277848,  975.14036906,
        505.28051156,  442.78777999,  760.45021771,  292.81197441,
        613.54316019,  697.80811259,  838.35807224,  413.58310655,
        672.56331936,  946.66520725,  603.33887704,  889.19758826,
        780.97827877, 1102.22983564,  306.45279843,  274.74317266,
        286.64393309,  242.13300878,  240.69011741,  391.28994214,
        309.40212271, 1036.71122559,  762.83596549,  641.00908351,
        338.40640128,  647.38448208, 1055.16935635, 1110.99367483,
        587.05694125, 1007.37919164,  587.77784629,  869.77719362,
        628.60976209,  410.60164527,  819.73555571,  662.83718593,
        984.35704841,  538.79951372, 1120.91222876,  632.61459791,
        950.25704921,  297.48657407,  606.08529702, 1170.06941578,
        825.88551666,  906.11725816,  819.34369783,   94.24981088,
        119.29865698,  539.56669008,  840.35090815, 1422.79488182,
        594.4910456 ,  858.50117576,  780.81038183,  387.12296567,
        704.28347241,  258.04319276,  406.95571775,  569.98856778,
         39.71102066,   38.29505031,   93.87650699,  633.43232672,
        598.07675709,  282.01953228,  261.38375176,  261.04096549,
        561.59776538,  489.38418334,  387.52506147,   95.26385857,
        469.33917131,   57.56361284,  133.44992597,  247.70917344,
        362.90286781,  231.94820445,  468.73061972,   31.82673125,
        460.40727502,  172.44665543])

In [ ]:
sample_submission['num'] = predictions
sample_submission.head()

    code          num
0  C1072   641.474614
1  C1128  1287.436158
2  C1456   569.023983
3  C1840   556.960610
4  C1332  1035.537657

In [ ]:
file_name = 'parking06.csv'
sample_submission.to_csv('/content/drive/MyDrive/contest/parking_data/' + file_name, index=False)